#brand{
    width:8rem;
    background-color:rgb(247, 241, 241);
}
#navitem1{
    padding: 1px;
    margin-left:30px;
    font-size: 20px;
    font-weight: bold;
    border: 2px ;
    border-radius: 15px;
    background: linear-gradient(to bottom, #33cc33 0%, #99ff33 100%);
   display:block;
    
}
#navitem12{
    padding: 1px;
    margin-left:30px;
    font-size: 20px;
    font-weight: bold;
    border: 2px ;
    border-radius: 15px;
    
   display:block;
}
#navitem12:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #99ff33 100%);
    color:black; 
}
#navitem1 a{
    color:black;
    
}
#navitem2{
    padding: 1px;
    margin-left:30px;
    font-size: 20px;
    font-weight: bold;
    border: 2px ;
    border-radius: 15px;
    color:lawngreen;
    padding-top:10px
   
    
}
#navitem2:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #99ff33 100%);
}
#navitem2 a{
    color:rgb(249, 250, 249);
    
}
#navitem2 a:hover{
    color:black;
}

#dropitem1 a{
    color:rgb(3, 44, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#dropitem1 a:hover{
    background-color:rgba(126, 236, 16, 0.507);
}

#header{
    background:url("./img/header\ \(1\).png")no-repeat top;
    background-size: cover;
    
}
#calc1{
    background:url("./img/calc1_bg.jpeg")no-repeat;
    background-size: cover;
} 
#calc1_i1{
    width:7rem;
    margin-left:10px;
}
#calc1_b1{
    background-color: rgba(19, 7, 83, 0.945);
    border-style: double;
    border:4px solid rgb(252, 235, 5);
    border-radius: 25px;
}
#h1{
    font-weight: bold;
    font-size: 25px;
}
#calc1_b1 h4{
    font-size: 20px;
    margin:20px;
    color: rgb(223, 223, 233);
    padding-left:30px;
   

}
#calc1_b1 form select{
    font-size: 15px;
    margin:15px;
    color: rgb(6, 6, 7);
    padding-left:30px;
    
}

/* #tan1{
    margin-left: 20rem;
} */
#btn1{
   
    margin-bottom:2px;
}
#put1,#put2,#put3{
    font-size: 15px;
    margin:15px;
    color: rgb(9, 9, 12);
    padding-left:30px;
}

#h2{
    
    font-size: 23px;
    padding-top: 20px;
    padding-left:52px;
    color:rgb(250, 226, 10);
}

/* #calc2{
    background:url("./img/cal2.jpg")repeat;
    
}  */
#calc1_i1{
    width:7rem;
    margin-left:10px;
}

#h1{
    font-weight: bold;
    font-size: 25px;
}
#calc1_b1 h4{
    font-size: 20px;
    margin:20px;
    color: rgb(251, 251, 255);
    padding-left:30px;
   

}
#calc1_b1 form select{
    font-size: 15px;
    margin:15px;
    color: rgb(6, 6, 7);
    padding-left:30px;
    
}

#tan1{
    margin-left: 20rem;
}

#put1,#put2,#put3{
    font-size: 15px;
    margin:15px;
    color: rgb(9, 9, 12);
    padding-left:30px;
}
#cgpa{
    font-size: 20px;
    margin:20px;
    color: rgb(223, 223, 233);
    padding-left:30px;
    
   
}
#n1,#g1,#g2,#t1{
    font-size: 20px;
    
    margin-left:20px;
    margin-top:10px;
    color: rgba(248, 240, 245, 0.979);
    padding-left:30px;
 
}
#clc2,#clc12{
    background-color: rgba(31, 30, 28, 0.952);
    border:2px solid yellow;
    box-shadow: 5px 10px 18px #888888;
 
}

#ans,#answ1{
    color:red;
}

#calc3_bg{
    background: url("./img/cal3.jpg")no-repeat;
    background-size:cover;

}
#calc3_head{
    font-size: 30px;
    padding-left:10rem;
    color:rgb(117, 13, 13);
}
#calc3_body{
   
    background-color: rgba(241, 245, 229, 0.904);
    border:4px solid rgb(250, 133, 152);
}
#calc3_h1{
    font-size: 20px;
    padding-top:5px;
    /* padding-bottom:10px; */
}
#bin,#hex,#oct,#dec{
    color:red;
}
#ic1{
    font-size: 30px;
}
#ic2{
    font-size: 30px;
    color:white;
}



#x1,#x2,#x3,#x4,#x5,#x6,#x7,#x8,#x9,#x10{
    font-size: 20px;
    margin-top:10px;
    color: rgba(248, 240, 245, 0.979);
    padding-left:30px;
 
}